@use 'fonts';
@use 'colors';
.hero-a-propos{
    width: 100vw;
    height: 30vh;
    background-color:colors.$rosepale; 
    .titre-a-propos{
        text-align: center;
        margin-top: 35px;
        font-family: sunday;
        font-size: 50px;
    }
   .texte-hero-a-propos{
    font-size: 20px;
    font-family: dosis;
    
   }        

   
}
