@use 'fonts';
@use 'colors';
@use 'banniere';
%titre-texte-paragraphe{
    font-family: dosis;
    font-style: bold;
    padding-top:20px;
    padding-bottom: 10px;
}
%texte-valeur{
    padding-top: -20px;
    padding-bottom: 30px;
}
.hero-a-propos {
    width: 100vw;
    margin: 0 auto;
    height: 30vh;
    position: relative;
    padding: 59px;
    background-color: colors.$rosepale;
    .titre-a-propos {
        text-align: center;
        font-family: sunday;
        font-size: 50px;
        padding: 10px;
    }
    .texte-hero-a-propos {
        font-size: 20px;
        font-family: dosis;
        padding: 10px;
        font-weight: 300;
    }
}

.paragraphe-a-propos {
    font-family: dosis;
    width: 100%;
   
}

.tout-sous-meme-toi {
    font-size: 20px;
    font-family: dosis;
    padding-top: 10px;
    padding-bottom: 10px;
    &.liste-a-puce {
        font-size: 22px;
    }
}

.liste-a-puce {
    & :hover {
        font-size: 22px;
        color: colors.$orangeFonce;
        font-family: dosis;
    }
}

.mission {
    @extend %titre-texte-paragraphe;
    &.text {
        font-size: 20px;

    }
}

.vision {
    @extend %titre-texte-paragraphe;
    
}

.valeurs {
    padding-top: 40px;
    padding-bottom: 10px;
    margin: 0 auto;
    
       
    &.excellence {
        color: colors.$bleuFoncer;
    }
    
    
    
}
.rexpect{
    &.text {
        @extend %texte-valeur;
        }
}
.engagement{
    &.text {
        @extend %texte-valeur;
        }

}