@use 'colors';
@use'fonts';

.banniere {
    position: relative;
    width: 100vw;
    background-color: colors.$orangeFonce;
  
    &__lienPromis {
        font-family: dosis;
        text-align: center;
    }
}

a {
    color: colors.$bleuFoncer;
    font-family: "dosis";
}
p{
    padding-bottom: none;
}