.hero {
    padding: 30px;
    background-color: colors.$rosepale;
    &__titre {
        font-family: sunday;
        padding-bottom: 20px;
        text-align: center;
        line-height: 1.7;
    }}