@use "fonts";
@use "colors";
@use "banniere";
@use "footer";
@use "mixins";

.detail-services {
  &__hero {
    @include mixins.sectionhero;
    padding-bottom: 5%;
  }

  &__titre {
    line-height: 2;
    text-align: center;
    font-family: sunday;
    font-size: 55px;
    padding: 10px;
  }

  &__texte {
    font-family: dosis;
    padding: 3%;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
  }
}

@media (max-width: 987px) {
  .card-text {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .card-text {
    font-size: 20px;
    object-fit: cover;
  }
}
@media (max-width: 377px) {
  .detail-services {
    &__titre {
      text-align: center;
      font-family: sunday;
      font-size: 30px;
      padding: 10px;
    }

    &__texte {
      font-family: dosis;
      padding: 3%;
      text-align: center;
      font-weight: 300;
      font-size: 25px;
    }
  }
}
.rendez-vous {
  display: flex;
  justify-content: center;

  &__container {
    justify-content: center;

    margin: 2%;
  }
  &__row {
    align-items: flex-end;
  }
  &__bouton {
    height: 40px;
    background-color: colors.$orangeFonce;
    border: none;
    border-radius: 10px;
    align-items: end;
  }
  &__body {
    padding: 30px;
  }
}

.detail-services-plus{

 &__body{
  background-color: colors.$bleuFoncer;
 }
 &__service1{
      @include mixins.service;
}
 &__service2 {
   @include mixins.service;
 }
    &__service3 {
      @include mixins.service;
    }
  }
// Rendre le container responsive
@media (min-width: 1400px) {

  .service__container,
  .service__container-lg,
  .container-md,
  .container-sm,
  .service__container-xl,
  .service__container-xxl {
    max-width: 20029px;
  }
}