@use "colors";
@use "fonts";
@use "mixins";
@use "accueil";
@use "histoire";
@use "faq";
* {
    box-sizing: border-box;
}

.nouvellle {
    background-color: colors.$rosepale;
    background-image: url(/media/nouvelles/reussir_demenagement_hero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .nouvelle img {
        width: 100%;
    }
    .col-12 {
        text-align: center;
    }
    &__titre {
        font-family: sunday;
        padding-bottom: 20px;
        text-align: center;
        line-height: 1.7;
        background-color: rgba($color: white, $alpha: .805)
    }
}

p .nouvelle__texte .col-12 .text-align-center {
    font-family: dosis;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}