@use 'colors';
@use 'fonts';
@use "mixins";
@use 'banniere';

footer {
    background-color: colors.$orangeFonce;
    font-family: 'dosis';
    padding: 35px;
    display: flex;
    width: 100%;
    text-align: center;


}

.logofooter {
    margin-bottom: 15px;

}

