@use "fonts";
@use "colors";
@use "banniere";
@use "mixins";

* {
  box-sizing: border-box;
}

body {
  /* couleur de fond*/
  background-color: colors.$orangePale;
}


.hero-histoire {
  @include mixins.sectionhero;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .titre-histoire {
    text-align: center;
    font-family: sunday;
    font-size: 50px;
    padding-bottom: -25%;
    //padding-top: 20%;
  }
  .texte-hero-histoire {
    font-size: 20px;
    font-family: dosis;
    // padding-bottom: 10%;
    // padding-top: 20%;
    font-weight: 300;
    padding-top: 3%;
  }
}

.histoire {
  text-align: center;
  padding-top: 0%;
  &__texte{
    padding-top: 4%; 
    margin-top: 2%;
    text-align: center;
  }
  &__Mg{
    padding-top: 4%;
  }
}

svg {
  position: absolute;
  top: 0;
  display: block;
  stroke: var(--green);
  stroke-width: 2px;
  width: 300px;
}


.element {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;

}
@media (max-width: 375px) {
  .section-histoire * {
    text-align: center;
    align-items: center;
    justify-content: center;
  }



}