@use "fonts";
@use "colors";
@use "banniere";
@use "mixins";
* {
    box-sizing: border-box;
}

body {
    /* couleur de fond*/
    background-color: colors.$orangePale;
}


/* section hero histoire debut*/

.hero-histoire {
    @include mixins.sectionhero;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    line-height: 3!important;
    .titre-histoire {
        text-align: center;
        font-family: sunday;
        font-size: 50px;
        padding-bottom: -25%;
        //padding-top: 20%;
        line-height: 3!important;
    }
    .texte-hero-histoire {
        font-size: 30px;
        font-family: dosis;
        // padding-bottom: 10%;
        // padding-top: 20%;
        font-weight: 300;
        padding-top: 3%;
    }
}


/* section hero histoire  fin*/


/* section histoire debut*/

.histoire {
    text-align: center;
    padding-top: 0%;
    &__texte {
        padding-top: 4%;
        margin-top: 2%;
        text-align: center;
    }
    &__Mg {
        padding-top: 4%;
        margin-top: 2%;
    }
}

svg {
    position: absolute;
    top: 0;
    display: block;
    stroke: var(--green);
    stroke-width: 2px;
    width: 300px;
}

.element {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
    white-space: nowrap;
    overflow-x: hidden;
}

.timeline ol {
    font-size: 0;
    width: 100vw;
    height: 30vh;
    padding: 250px 0;
    transition: all 1s;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 350px;
    height: 3px;
    background: #fff;
    align-items: center;
    justify-content: center;
}

.timeline ol li div {
    position: absolute;
    left: calc(25% + 5px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
}

.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-80%);
}

.timeline ol li:nth-child(even) .petitBoutonOrange {
    top: -5% !important;
}

.petitBoutonOrange {
    width: 5% !important;
    height: 14% !important;
    background-color: colors.$orangeFonce !important;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    left: -2% !important;
    top: initial !important;
    padding: 0% !important;
    transform: translateY(0%) !important;
}

.timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

@media (max-width: 375px) {
    .section-histoire * {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .timeline {
        width: 100px;
        padding: 10px;
    }
    .promis {
        width: 100px;
    }
}


/* section histoire fin*/