@use "colors";
@use "fonts";
@use "mixins";
@use "banniere";
@use "accueil";

.hub-services {
  &__hero {
    @include mixins.sectionhero;
    padding-bottom: 5%;

  }

  &__titre {
    .col-12 {
      font-size: 40px;
        line-height: 2;
    }
    text-align: center;
    font-family: sunday;
    font-size: 60px;
    padding: 10px;
      line-height: 2;
  }

  &__texte {
    font-family: dosis;
    padding: 3%;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
  }
}

.container-xl {
  max-width: 20000px;
}
.service {
  padding: 10px;

  &__container {
    margin-bottom: 5%;
  }
  &__accueil {
    background-image: url(/media/icone/accueil_main_transparence.png);
    object-fit: contain;
    background-position: center;
    background-size: contain;
    padding: 20px;
    height: 100% !important;
    background-repeat: no-repeat;

    background-color: colors.$bleuFoncer;
  }
  &__francisation {
    background-image: url(/media/icone/francisation_transparent.png);
    object-fit: contain;
    background-position: center;
    background-size: contain;
    padding: 20px;
    background-repeat: no-repeat;

    background-color: colors.$bleuFoncer;
  }
  &__famille {
    background-image: url(/media/icone/soutien_famille_transparent.png);
    object-fit: contain;
    background-position: center;
    background-size: contain;
    padding: 20px;
    background-repeat: no-repeat;

    background-color: colors.$bleuFoncer;
  }
  &__scolaire {
    background-image: url(/media/icone/soutien_scolaire_transparent.png);
    object-fit: contain;
    background-position: center;
    background-size: contain;
    padding: 20px;
    background-repeat: no-repeat;
    background-color: colors.$bleuFoncer;
  }
  &__emplois {
    background-image: url(/media/icone/cv_transparent.png);
    object-fit: contain;
    background-position: center;
    background-size: contain;
    padding: 20px;
    background-repeat: no-repeat;
    background-color: colors.$bleuFoncer;
  }
  &__alimentaire {
    background-image: url(/media/icone/aliment_transparent.png);
    object-fit: contain;
    background-position: center;
    background-size: contain;
    padding: 20px;
    background-repeat: no-repeat;
    background-color: colors.$bleuFoncer;
  }
}
//Swipper service
.swiper-slide {
  width: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

/*.card-body {
    height: 200px;
  }*/
/*@media (min-width: 1400px) {
  .service__container,
  .service__container-lg,
  .container-md,
  .container-sm,
  .service__container-xl,
  .service__container-xxl {
    max-width: 20000px;
  }
}
.swipper {
  margin: 20px;
}

.service .card {
  height: 300px;
  width: 420px;
}

.card-title {
  color: colors.$orangeFonce;
  font-family: dm-sans;
  font-size: 25px;
}
.card-text {
  font-family: dm-sans;
}

.row__hero {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
}

.row__service {
  width: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
  margin-bottom: 5%;
}
/*Service 
************************************************/
