@use 'colors';
@use 'fonts';
.barreNav {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: colors.$bleuFoncer;
}

.container {
    display: flex;
    width: 100%;
}

.navbar {
    display: flex;
    &-nav {
        display: flex;
        .nav-link {
            justify-content: space-between;
            color: colors.$blanc;
        }
        .nav-item {
            display: flex;
        }
    }
}

a .navbar-nav:hover {
    color: colors.$orangeFonce;
}

.banniere {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.navbar-nav .nav-link {
    justify-content: space-between;
    color: colors.$blanc;
    width: 100px;
    text-align: center;
}

.navbar-nav:hover .nav-link:hover {
    justify-content: space-between;
    color: colors.$orangeFonce;
    width: 100px;
    text-align: center;
}

.navbar-nav .nav-link .bouton-don {
    color: colors.$orangeFonce !important;
    background-color: colors.$rosepale;
}