@use 'colors';
*{box-sizing: border-box;}

body{
display: flex;
}
.container{
    width: 100%;
    background-color:$bleuFoncer;
}
.navbar{
justify-content: center;
&__logo{
    background-color: #000;
}
}