@charset "UTF-8";
@font-face {
  font-family: sunday;
  src: url("/fonts/Sunday Best ttf.ttf");
}
@font-face {
  font-family: dosis;
  src: url("/fonts/Dosis-VariableFont_wght.ttf");
}
@font-face {
  font-family: dm-sans;
  src: url("/fonts/Dosis-VariableFont_wght.ttf");
}
.banniere {
  position: relative;
  width: 100vw;
  background-color: #FC9478;
}
.banniere__lienPromis {
  font-family: dosis;
  text-align: center;
}

a {
  color: #223843;
  font-family: "dosis";
}

p {
  padding-bottom: none;
}

footer {
  background-color: #FC9478;
  font-family: "dosis";
  padding: 35px;
  display: flex;
  width: 100%;
  text-align: center;
}

.logofooter {
  margin-bottom: 15px;
}

* {
  box-sizing: border-box;
}

body {
  /* couleur de fond*/
  background-color: #FFCFB4;
}

.enveloppe {
  background-color: white;
  width: 75vw;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
}

/*extend de style des paragraphe*/
.vision, .mission {
  font-family: dosis;
  font-style: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.hero-a-propos {
  width: 100vw;
  margin: 0 auto;
  height: 30vh;
  position: relative;
  padding: 2%;
  background-color: #F4E6EF;
}
.hero-a-propos .titre-a-propos {
  text-align: center;
  font-family: sunday;
  font-size: 50px;
  padding: 10px;
}
.hero-a-propos .texte-hero-a-propos {
  font-size: 20px;
  font-family: dosis;
  padding: 10px;
  font-weight: 300;
}

.paragraphe-a-propos {
  font-family: sunday;
  width: 100%;
  text-align: center;
  padding-top: 5%;
}

.tout-sous-meme-toi {
  font-size: 20px;
  font-family: dosis;
  margin-top: 2%;
  margin: 10px;
}
.tout-sous-meme-toi.liste-a-puce {
  font-size: 22px;
  padding: 20px;
  margin-bottom: 0px;
  margin-top: 15px;
}

ul {
  /* je créer de l'espace entre l'enveloppe et les points de la liste a`puce*/
  margin-left: 2%;
}

.mission.text {
  font-size: 20px;
}

.valeurs {
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
  font-family: dosis;
  font-weight: 700;
}

.excellence {
  width: 100%;
  margin-top: 2%;
  color: #223843;
  font-family: dosis;
}
.excellence__text {
  font-family: dm-sans;
}

.respect {
  margin-top: 2%;
}
.respect__text {
  font-family: dm-sans;
}

.engagement {
  margin: 2%;
  font-family: dm-sans;
}
.engagement__text {
  font-family: dm-sans;
}

.inclusion {
  margin-top: 2%;
  font-family: dm-sans;
}
.inclusion__text {
  font-family: dm-sans;
}

.innovation {
  margin-top: 2%;
  font-family: dm-sans;
}
.innovation__text {
  font-family: dm-sans;
}

.servicesLangues {
  margin-top: 2%;
  padding-bottom: 5%;
  font-family: dosis;
  font-weight: 700;
  position: relative;
}
.servicesLangues__texte {
  position: relative;
}

.barreNav {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #223843;
}

.container {
  display: flex;
  width: 100%;
}

.navbar {
  display: flex;
}
.navbar-nav {
  display: flex;
}
.navbar-nav .nav-link {
  justify-content: space-between;
  color: #ffffff;
}
.navbar-nav .nav-item {
  display: flex;
}

.banniere {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.card-7 .card-text .btn-7 .btn-7, .card-6 .card-text .btn-6 .btn-6, .card-5 .card-text .btn-5 .btn-5, .card-4 .card-text .btn-4 .btn-4, .card-3 .card-text .btn-3 .btn-3, .card-2 .card-text .btn-2 .btn-2, .card-1 .card-text .btn-1 .btn-1, .card-0 .card-text .btn-0 .btn-0, .btn-6, .btn-5, .btn-4, .btn-3, .btn-2, .btn-1, .btn-0 {
  background-color: #223843;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 3px;
}

.hero {
  padding: 30px;
  background-color: #F4E6EF;
}
.hero__titre {
  font-family: sunday;
  text-align: center;
  line-height: 1.7;
}
.hero__question {
  font-family: dosis;
  font-weight: 700;
  text-align: center;
}
.hero__option {
  font-family: dosis;
  text-align: center;
}

.btn-0 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.btn-1 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.btn-2 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.btn-3 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.btn-4 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.btn-5 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.btn-6 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.card-0 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  height: 300px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: large;
}
.card-0 .card-text {
  font-size: 13px;
}
.card-0 .card-text .btn-0 .btn-0 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.swiper-slide {
  width: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

.card-body {
  height: 200px;
}

.swipper {
  margin: 20px;
}

.card {
  height: 300px;
  width: 350px;
}
.card__accueil {
  background-image: url(/media/icone/accueil_main_transparence.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__francisation {
  background-image: url(/media/icone/francisation_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__famille {
  background-image: url(/media/icone/soutien_famille_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__scolaire {
  background-image: url(/media/icone/soutien_scolaire_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__emplois {
  background-image: url(/media/icone/cv_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__alimentation {
  background-image: url(/media/icone/aliment_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}

.card-title {
  color: #FC9478;
  font-family: dm-sans;
}

.card-text {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: dm-sans;
}

.card-1 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  height: 300px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: large;
}
.card-1 .card-text {
  font-size: 13px;
}
.card-1 .card-text .btn-1 .btn-1 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.swiper-slide {
  width: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

.card-body {
  height: 200px;
}

.swipper {
  margin: 20px;
}

.card {
  height: 300px;
  width: 350px;
}
.card__accueil {
  background-image: url(/media/icone/accueil_main_transparence.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__francisation {
  background-image: url(/media/icone/francisation_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__famille {
  background-image: url(/media/icone/soutien_famille_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__scolaire {
  background-image: url(/media/icone/soutien_scolaire_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__emplois {
  background-image: url(/media/icone/cv_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__alimentation {
  background-image: url(/media/icone/aliment_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}

.card-title {
  color: #FC9478;
  font-family: dm-sans;
}

.card-text {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: dm-sans;
}

.card-2 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  height: 300px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: large;
}
.card-2 .card-text {
  font-size: 13px;
}
.card-2 .card-text .btn-2 .btn-2 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.swiper-slide {
  width: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

.card-body {
  height: 200px;
}

.swipper {
  margin: 20px;
}

.card {
  height: 300px;
  width: 350px;
}
.card__accueil {
  background-image: url(/media/icone/accueil_main_transparence.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__francisation {
  background-image: url(/media/icone/francisation_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__famille {
  background-image: url(/media/icone/soutien_famille_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__scolaire {
  background-image: url(/media/icone/soutien_scolaire_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__emplois {
  background-image: url(/media/icone/cv_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__alimentation {
  background-image: url(/media/icone/aliment_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}

.card-title {
  color: #FC9478;
  font-family: dm-sans;
}

.card-text {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: dm-sans;
}

.card-3 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  height: 300px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: large;
}
.card-3 .card-text {
  font-size: 13px;
}
.card-3 .card-text .btn-3 .btn-3 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.swiper-slide {
  width: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

.card-body {
  height: 200px;
}

.swipper {
  margin: 20px;
}

.card {
  height: 300px;
  width: 350px;
}
.card__accueil {
  background-image: url(/media/icone/accueil_main_transparence.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__francisation {
  background-image: url(/media/icone/francisation_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__famille {
  background-image: url(/media/icone/soutien_famille_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__scolaire {
  background-image: url(/media/icone/soutien_scolaire_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__emplois {
  background-image: url(/media/icone/cv_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__alimentation {
  background-image: url(/media/icone/aliment_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}

.card-title {
  color: #FC9478;
  font-family: dm-sans;
}

.card-text {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: dm-sans;
}

.card-4 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  height: 300px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: large;
}
.card-4 .card-text {
  font-size: 13px;
}
.card-4 .card-text .btn-4 .btn-4 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.swiper-slide {
  width: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

.card-body {
  height: 200px;
}

.swipper {
  margin: 20px;
}

.card {
  height: 300px;
  width: 350px;
}
.card__accueil {
  background-image: url(/media/icone/accueil_main_transparence.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__francisation {
  background-image: url(/media/icone/francisation_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__famille {
  background-image: url(/media/icone/soutien_famille_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__scolaire {
  background-image: url(/media/icone/soutien_scolaire_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__emplois {
  background-image: url(/media/icone/cv_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__alimentation {
  background-image: url(/media/icone/aliment_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}

.card-title {
  color: #FC9478;
  font-family: dm-sans;
}

.card-text {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: dm-sans;
}

.card-5 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  height: 300px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: large;
}
.card-5 .card-text {
  font-size: 13px;
}
.card-5 .card-text .btn-5 .btn-5 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.swiper-slide {
  width: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

.card-body {
  height: 200px;
}

.swipper {
  margin: 20px;
}

.card {
  height: 300px;
  width: 350px;
}
.card__accueil {
  background-image: url(/media/icone/accueil_main_transparence.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__francisation {
  background-image: url(/media/icone/francisation_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__famille {
  background-image: url(/media/icone/soutien_famille_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__scolaire {
  background-image: url(/media/icone/soutien_scolaire_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__emplois {
  background-image: url(/media/icone/cv_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__alimentation {
  background-image: url(/media/icone/aliment_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}

.card-title {
  color: #FC9478;
  font-family: dm-sans;
}

.card-text {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: dm-sans;
}

.card-6 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  height: 300px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: large;
}
.card-6 .card-text {
  font-size: 13px;
}
.card-6 .card-text .btn-6 .btn-6 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.swiper-slide {
  width: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

.card-body {
  height: 200px;
}

.swipper {
  margin: 20px;
}

.card {
  height: 300px;
  width: 350px;
}
.card__accueil {
  background-image: url(/media/icone/accueil_main_transparence.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__francisation {
  background-image: url(/media/icone/francisation_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__famille {
  background-image: url(/media/icone/soutien_famille_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__scolaire {
  background-image: url(/media/icone/soutien_scolaire_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__emplois {
  background-image: url(/media/icone/cv_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__alimentation {
  background-image: url(/media/icone/aliment_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}

.card-title {
  color: #FC9478;
  font-family: dm-sans;
}

.card-text {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: dm-sans;
}

.card-7 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  height: 300px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: large;
}
.card-7 .card-text {
  font-size: 13px;
}
.card-7 .card-text .btn-7 .btn-7 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.swiper-slide {
  width: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

.card-body {
  height: 200px;
}

.swipper {
  margin: 20px;
}

.card {
  height: 300px;
  width: 350px;
}
.card__accueil {
  background-image: url(/media/icone/accueil_main_transparence.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__francisation {
  background-image: url(/media/icone/francisation_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__famille {
  background-image: url(/media/icone/soutien_famille_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__scolaire {
  background-image: url(/media/icone/soutien_scolaire_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__emplois {
  background-image: url(/media/icone/cv_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.card__alimentation {
  background-image: url(/media/icone/aliment_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}

.card-title {
  color: #FC9478;
  font-family: dm-sans;
}

.card-text {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: dm-sans;
}

.row__hero {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
}

.row__service {
  width: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.service__titre {
  text-align: center;
  margin-top: 10%;
  font-size: 45px;
  font-family: dosis;
  color: #223843;
}
.service__accueil {
  background-image: url(/media/icone/accueil_main_transparence.png);
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
}
.service__francisation {
  background-image: url(/media/icone/francisation_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 60%;
}
.service__famille {
  background-image: url(/media/icone/soutien_famille_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 60%;
}
.service__scolaire {
  background-image: url(/media/icone/soutien_scolaire_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 70%;
}
.service__emplois {
  background-image: url(/media/icone/cv_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 60%;
}
.service__alimentaire {
  background-image: url(/media/icone/aliment_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 70%;
}

.nouvelle__titre {
  text-align: center;
  margin-top: 10%;
  font-size: 45px;
  font-family: dosis;
  color: #223843;
}
.nouvelle__sarah {
  background-image: url(/media/nouvelles/contribution_sarah_article_1.jpg);
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
}
.nouvelle__francisation {
  background-image: url(/media/icone/francisation_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 60%;
}
.nouvelle__famille {
  background-image: url(/media/icone/soutien_famille_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 60%;
}
.nouvelle__scolaire {
  background-image: url(/media/icone/soutien_scolaire_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 70%;
}
.nouvelle__emplois {
  background-image: url(/media/icone/cv_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 60%;
}
.nouvelle__alimentaire {
  background-image: url(/media/icone/aliment_transparent.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 70%;
}

.hero-a-propos {
  width: 100vw;
  margin: 0 auto;
  height: 30vh;
  position: relative;
  padding: 2%;
  background-color: #F4E6EF;
}
.hero-a-propos .titre-a-propos {
  text-align: center;
  font-family: sunday;
  font-size: 50px;
  padding: 10px;
}
.hero-a-propos .texte-hero-a-propos {
  font-size: 20px;
  font-family: dosis;
  padding: 10px;
  font-weight: 300;
}

.questionsTitre {
  font-family: dosis;
  color: black;
  margin-top: 8%;
  text-align: center;
  font-size: 40px;
}

.accordion {
  margin: 10%;
}

.accordion-button:not(.collapsed) {
  background-color: #FC9478;
}

.accordion-header {
  background-color: #FFCFB4;
  color: #223843;
}/*# sourceMappingURL=style.css.map */