@charset "UTF-8";
@font-face {
  font-family: sunday;
  src: url("/fonts/Sunday Best ttf.ttf");
}
@font-face {
  font-family: dosis;
  src: url("/fonts/Dosis-VariableFont_wght.ttf");
}
@font-face {
  font-family: dm-sans;
  src: url("/fonts/Dosis-VariableFont_wght.ttf");
}
.banniere {
  position: relative;
  width: 100vw;
  background-color: #FC9478;
}
.banniere__lienPromis {
  font-family: dosis;
  text-align: center;
}

a {
  color: #223843;
  font-family: "dosis";
}

p {
  padding-bottom: none;
}

.barreNav {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #223843;
}

.container {
  display: flex;
  width: 100%;
}

.navbar {
  display: flex;
}
.navbar-nav {
  display: flex;
}
.navbar-nav .nav-link {
  justify-content: space-between;
  color: #ffffff;
}
.navbar-nav .nav-item {
  display: flex;
}

a .navbar-nav:hover {
  color: #FC9478;
}

.banniere {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.navbar-nav .nav-link {
  justify-content: space-between;
  color: #ffffff;
  width: 100px;
  text-align: center;
}

.navbar-nav:hover .nav-link:hover {
  justify-content: space-between;
  color: #FC9478;
  width: 100px;
  text-align: center;
}

footer {
  background-color: #FC9478;
  font-family: "dosis";
  padding: 35px;
  display: flex;
  width: 100%;
  text-align: center;
}

.logofooter {
  margin-bottom: 15px;
}

body .questions {
  border-radius: 10px;
  border: none;
  background-image: url(/media/icone/CERCLE\ 1.png), url(/media/icone/CERCLE\ 1.png);
  background-repeat: no-repeat;
  background-position: 10% -20%, 100% 100%;
}

.hero-a-propos {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  padding: 2%;
  background-color: #F4E6EF;
}
.hero-a-propos .titre-a-propos {
  text-align: center;
  font-family: sunday;
  padding: 10px;
  line-height: 1.7;
}
.hero-a-propos .texte-hero-a-propos {
  font-size: 35px;
  font-family: dosis;
  padding: 10px;
  font-weight: 300;
  line-height: 1.7;
}

.questionsTitre {
  font-family: dosis;
  color: #223843;
  margin-bottom: 4%;
  margin-top: 6%;
  text-align: center;
  font-size: 40px;
}

.accordion {
  margin-bottom: 10%;
}

.accordion-button {
  color: #223843;
}

.accordion-button:not(.collapsed) {
  background-color: #223843;
  color: white;
}

.accordion-header {
  background-color: #223843;
}

@media (max-width: 375px) {
  h1.titre-a-propos {
    font-size: 18px;
  }
}
* {
  box-sizing: border-box;
}

body {
  /* couleur de fond*/
  background-color: #FFCFB4;
}

.hero-histoire {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  color: #223843;
  position: relative;
  padding: 2%;
  background-color: #F4E6EF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 3 !important;
}
.hero-histoire .titre-histoire {
  text-align: center;
  font-family: sunday;
  font-size: 50px;
  padding-bottom: -25%;
  line-height: 3 !important;
}
.hero-histoire .texte-hero-histoire {
  font-size: 30px;
  font-family: dosis;
  font-weight: 300;
  padding-top: 3%;
}

.histoire {
  text-align: center;
  padding-top: 0%;
}
.histoire__texte {
  padding-top: 4%;
  margin-top: 2%;
  text-align: center;
}
.histoire__Mg {
  padding-top: 4%;
  margin-top: 2%;
}

svg {
  position: absolute;
  top: 0;
  display: block;
  stroke: var(--green);
  stroke-width: 2px;
  width: 300px;
}

.element {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  height: 30vh;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 350px;
  height: 3px;
  background: #fff;
  align-items: center;
  justify-content: center;
}

/*.timeline ol li:last-child {
    width: 280px;
}*/
/*.timeline ol li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(25% + 2px);
    bottom: 0;
    width: 13px;
    height: 13px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: colors.$orangeFonce;
}*/
.timeline ol li div {
  position: absolute;
  left: calc(25% + 5px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-80%);
}

.timeline ol li:nth-child(even) .petitBoutonOrange {
  top: -5% !important;
}

.petitBoutonOrange {
  width: 5% !important;
  height: 14% !important;
  background-color: #FC9478 !important;
  border-radius: 50%;
  position: absolute;
  bottom: -10%;
  left: -2% !important;
  top: initial !important;
  padding: 0% !important;
  transform: translateY(0%) !important;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

@media (max-width: 375px) {
  .section-histoire * {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .timeline {
    width: 100px;
    padding: 10px;
  }
  .promis {
    width: 100px;
  }
}
.quatre-contenu {
  background-color: #F4E6EF;
}

.quatre {
  width: 100vw;
  justify-content: center;
  text-align: center;
  padding: 15vh 0;
  margin-bottom: 30px;
  margin-top: 30px;
}
.quatre .quatre-titre {
  font-size: 10vw;
  text-align: center;
}
.quatre .quatre-texte {
  font-size: 4vw;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}
@media screen and (max-width: 375px) {
  .quatre .retour-menu {
    text-align: center;
  }
}
.quatre .retour-menu .texte-retour {
  background-color: #223843;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.hero-equipe {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  color: #223843;
  position: relative;
  padding: 2%;
  background-color: #F4E6EF;
}
.hero-equipe .titre-equipe {
  text-align: center;
  font-family: sunday;
  font-size: 50px;
  padding: 10px;
}
.hero-equipe .texte-hero-equipe {
  font-size: 20px;
  font-family: dosis;
  padding: 3%;
  font-weight: 300;
}

.equipe .card {
  margin: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.texte-equipe {
  font-family: dosis;
  text-align: center;
  font-size: 20px;
  margin: 20px 10px;
}

.equipe-role {
  font-family: dosis;
  text-align: center;
}

.equipe .card-img-top {
  max-height: 250px;
  object-fit: cover;
}

.hero-nouvelles {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  color: #223843;
  position: relative;
  padding: 2%;
  background-color: #F4E6EF;
}
.hero-nouvelles .titre-nouvelles {
  text-align: center;
  font-family: sunday;
  font-size: 50px;
  padding: 10px;
}
.hero-nouvelles .texte-hero-nouvelles {
  font-size: 20px;
  font-family: dosis;
  padding: 3%;
  font-weight: 300;
  font-size: 45px;
  text-align: center;
}

.nouvelles {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}
.nouvelles .card-title {
  text-align: center;
  margin-top: 5%;
  font-size: 45px;
  font-family: dosis;
  color: #223843;
}
.nouvelles__sarah {
  background-image: url(../media/nouvelles/contribution_sarah_article_1.jpg);
  background-size: cover;
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
}
.nouvelles__demenagement {
  background-image: url(../media/nouvelles/reussir_demenagement_hero.jpeg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelles__reseautage {
  background-image: url(../media/nouvelles/etudier.png);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelles__hebergement {
  background-image: url(../media/nouvelles/hebergement_femme.jpeg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelles__vivre-ensemble {
  background-image: url(../media/nouvelles/journee-vivre-ensemble.jpeg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelles__organisation {
  background-image: url(../media/nouvelles/reorientation_carriere.jpeg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelles__temoignager {
  background-image: url(../media/nouvelles/temoignage.jpeg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelles__besoins {
  background-image: url(../media/nouvelles/assurence.jpg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelles__hiver {
  background-image: url(../media/nouvelles/hiver_montreal.jpeg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelles__partener {
  background-image: url(../media/nouvelles/parrainer_partenaire.jpeg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelles__etudier {
  background-image: url(../media/nouvelles/etudier.png);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelles__citoyennete {
  background-image: url(../media/nouvelles/citoyennete.jpg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelles__normes {
  background-image: url(../media/nouvelles/norme_travail.jpeg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelles__permis {
  background-image: url(../media/nouvelles/assurence.jpg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}

.nouvelles .card-body {
  position: relative;
  bottom: -160px;
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.805);
}
.nouvelles .card-body h5 {
  font-size: 24px;
  padding: none;
  color: #223843;
  margin: none;
}
.nouvelles .card-body h5 .col-sm-12 {
  font-size: 30px;
}
.nouvelles .card-body p {
  font-size: 18px;
  text-align: center;
  color: #223843;
  width: 100%;
  margin: none;
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* ACCUEIL JOLYANNE
***********************************************************************
**********************************************************************/
/* HERO
***********************************************/
.card-7 .card-text .btn-7 .btn-7, .card-6 .card-text .btn-6 .btn-6, .card-5 .card-text .btn-5 .btn-5, .card-4 .card-text .btn-4 .btn-4, .card-3 .card-text .btn-3 .btn-3, .card-2 .card-text .btn-2 .btn-2, .card-1 .card-text .btn-1 .btn-1, .card-0 .card-text .btn-0 .btn-0, .btn-6, .btn-5, .btn-4, .btn-3, .btn-2, .btn-1, .btn-0 {
  background-color: #223843;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  padding: 20px;
  margin: 3px;
}

.row__hero {
  padding-left: 3%;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
}

.hero {
  padding: 30px;
  background-color: #F4E6EF;
}
.hero__titre {
  font-family: sunday;
  padding-bottom: 20px;
  text-align: center;
  line-height: 1.7;
}
.hero__question {
  font-family: dosis;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}
.hero__option {
  font-family: dosis;
  text-align: center;
}

.btn-0 {
  margin: 10px;
  font-family: dm-sans;
  height: 150px;
}

.btn-1 {
  margin: 10px;
  font-family: dm-sans;
  height: 150px;
}

.btn-2 {
  margin: 10px;
  font-family: dm-sans;
  height: 150px;
}

.btn-3 {
  margin: 10px;
  font-family: dm-sans;
  height: 150px;
}

.btn-4 {
  margin: 10px;
  font-family: dm-sans;
  height: 150px;
}

.btn-5 {
  margin: 10px;
  font-family: dm-sans;
  height: 150px;
}

.btn-6 {
  margin: 10px;
  font-family: dm-sans;
  height: 150px;
}

.card-0 {
  background-color: #223843;
  padding: 10px;
  margin: 5%;
  height: 325px;
  width: 100%;
  text-align: start;
  border-radius: 10px;
  color: white;
  overflow-y: hidden;
}
.card-0 .card-text .btn-0 .btn-0 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.btn {
  width: 45%;
  height: 20%;
  background-color: #F4E6EF;
}

.card-1 {
  background-color: #223843;
  padding: 10px;
  margin: 5%;
  height: 325px;
  width: 100%;
  text-align: start;
  border-radius: 10px;
  color: white;
  overflow-y: hidden;
}
.card-1 .card-text .btn-1 .btn-1 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.btn {
  width: 45%;
  height: 20%;
  background-color: #F4E6EF;
}

.card-2 {
  background-color: #223843;
  padding: 10px;
  margin: 5%;
  height: 325px;
  width: 100%;
  text-align: start;
  border-radius: 10px;
  color: white;
  overflow-y: hidden;
}
.card-2 .card-text .btn-2 .btn-2 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.btn {
  width: 45%;
  height: 20%;
  background-color: #F4E6EF;
}

.card-3 {
  background-color: #223843;
  padding: 10px;
  margin: 5%;
  height: 325px;
  width: 100%;
  text-align: start;
  border-radius: 10px;
  color: white;
  overflow-y: hidden;
}
.card-3 .card-text .btn-3 .btn-3 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.btn {
  width: 45%;
  height: 20%;
  background-color: #F4E6EF;
}

.card-4 {
  background-color: #223843;
  padding: 10px;
  margin: 5%;
  height: 325px;
  width: 100%;
  text-align: start;
  border-radius: 10px;
  color: white;
  overflow-y: hidden;
}
.card-4 .card-text .btn-4 .btn-4 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.btn {
  width: 45%;
  height: 20%;
  background-color: #F4E6EF;
}

.card-5 {
  background-color: #223843;
  padding: 10px;
  margin: 5%;
  height: 325px;
  width: 100%;
  text-align: start;
  border-radius: 10px;
  color: white;
  overflow-y: hidden;
}
.card-5 .card-text .btn-5 .btn-5 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.btn {
  width: 45%;
  height: 20%;
  background-color: #F4E6EF;
}

.card-6 {
  background-color: #223843;
  padding: 10px;
  margin: 5%;
  height: 325px;
  width: 100%;
  text-align: start;
  border-radius: 10px;
  color: white;
  overflow-y: hidden;
}
.card-6 .card-text .btn-6 .btn-6 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.btn {
  width: 45%;
  height: 20%;
  background-color: #F4E6EF;
}

.card-7 {
  background-color: #223843;
  padding: 10px;
  margin: 5%;
  height: 325px;
  width: 100%;
  text-align: start;
  border-radius: 10px;
  color: white;
  overflow-y: hidden;
}
.card-7 .card-text .btn-7 .btn-7 {
  margin: 10px;
  font-family: dm-sans;
  height: 92px;
}

.btn {
  width: 45%;
  height: 20%;
  background-color: #F4E6EF;
}

/**** SERVICE SWIPPER (POUR TABLETTE ET TÉLÉPHONE)
*******************************************************************/
.lien {
  color: #ffffff;
  text-decoration: none;
}

.service {
  padding: 10px;
}

.swiper-slide {
  width: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

.swipper {
  margin: 20px;
}

.service .card {
  height: 370px !important;
  width: 420px;
}
.service .card .autres {
  height: 444px !important;
}
.service .card__accueil {
  background-image: url(/media/icone/accueil_main_transparence.png);
  object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.service .card__francisation {
  background-image: url(/media/icone/francisation_transparent.png);
  object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.service .card__famille {
  background-image: url(/media/icone/soutien_famille_transparent.png);
  object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.service .card__scolaire {
  background-image: url(/media/icone/soutien_scolaire_transparent.png);
  object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.service .card__emplois {
  background-image: url(/media/icone/cv_transparent.png);
  object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.service .card__alimentation {
  background-image: url(/media/icone/aliment_transparent.png);
  object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}

.card-title {
  color: #FC9478;
  font-family: dm-sans;
  font-size: 30px;
}

.card-text {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: dm-sans;
  font-size: 20px;
}

@media (max-width: 987px) {
  .card-text {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .card-text {
    font-size: 20px;
    object-fit: cover;
  }
}
@media (max-width: 377px) {
  .card-text {
    font-size: 18px;
  }
}
.row__service {
  width: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
}

@media (min-width: 1400px) {
  .service__container,
  .service__container-lg,
  .container-md,
  .container-sm,
  .service__container-xl,
  .service__container-xxl {
    max-width: 20029px;
  }
}
/*SERVICE VERSION ORDI
************************************************/
.service__titre {
  text-align: center;
  margin-top: 5%;
  font-size: 45px;
  font-family: dosis;
  color: #223843;
  font-size: 60px;
}
.service__accueil {
  background-image: url(/media/icone/accueil_main_transparence.png);
  background-size: contain;
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
}
.service__francisation {
  background-image: url(/media/icone/francisation_transparent.png);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 60%;
}
.service__famille {
  background-image: url(/media/icone/soutien_famille_transparent.png);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 60%;
}
.service__scolaire {
  background-image: url(/media/icone/soutien_scolaire_transparent.png);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 70%;
}
.service__emplois {
  background-image: url(/media/icone/cv_transparent.png);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 60%;
}
.service__alimentaire {
  background-image: url(/media/icone/aliment_transparent.png);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 70%;
}

/*****NOUVELLE
************************************************/
.nouvelle {
  padding: 30px;
}
.nouvelle__titre {
  text-align: center;
  margin-top: 5%;
  font-size: 45px;
  font-family: dosis;
  color: #223843;
}
.nouvelle__sarah {
  background-image: url(/media/nouvelles/contribution_sarah_article_1.jpg);
  background-size: cover;
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
}
.nouvelle__demenagement {
  background-image: url(/media/nouvelles/reussir_demenagement_hero.jpeg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelle__reseautage {
  background-image: url(/media/nouvelles/etudier.png);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelle__hebergement {
  background-image: url(/media/nouvelles/hebergement_femme.jpeg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: cover;
}
.nouvelle__vivre-ensemble {
  background-image: url(/media/nouvelles/journee-vivre-ensemble.jpeg);
  object-fit: contain;
  padding: unset;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #223843;
  color: #ffffff;
  background-size: 100%;
}

.nouvelle .card-body {
  position: relative;
  bottom: -160px;
  height: 140px;
  display: flex;
  border-radius: 10px;
  place-content: space-between space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.805);
}
.nouvelle .card-body h5 {
  font-size: 24px;
  padding: none;
  position: relative;
  top: 10px;
  color: #223843;
}
.nouvelle .card-body h5 .col-sm-12 {
  font-size: 30px;
}
.nouvelle .card-body p {
  font-size: 18px;
  position: relative;
  left: 50px;
  top: -20px;
  color: #223843;
}

/*****TÉMOIGNAGE
*****************************************/
.temoignage {
  background-color: #ffffff;
  padding: 10px;
}
.temoignage__titre {
  text-align: center;
  margin-top: 5%;
  font-size: 45px;
  font-family: dosis;
  color: #223843;
  padding-bottom: 20px;
}
.temoignage__body {
  background-image: url(/media/icone/cercle_don.png);
  z-index: 10;
  background-repeat: no-repeat;
  background-position: 120% 0;
  background-size: 80%;
  background-color: #F4E6EF;
  border: none;
  border-radius: 10px;
}
.temoignage__container {
  justify-content: center;
}
.temoignage__card-texte {
  font-size: 25px;
  color: #223843;
}
.temoignage__image {
  border-radius: 10px;
  aspect-ratio: 3/4;
  height: 15%;
}
.temoignage__image .col-12 {
  height: 30px;
}
.temoignage__card {
  background-position: center;
  display: flex;
  border: none;
}
.temoignage__citation {
  justify-content: center;
  position: relative;
  margin: 0 auto;
  left: 25%;
}

/* DON
***********************************************************/
.don {
  background-color: #ffffff;
  justify-content: center;
  padding: 3%;
  display: flex;
  position: relative;
}
.don__body {
  background-color: #223843;
  background-image: url(/media/icone/CERCLE\ 1.png);
  background-position: 0 -15%;
  border-radius: 10px;
  border: none;
}
.don__container {
  justify-content: center;
}
.don__bouton {
  border-radius: 10px;
  font-size: 20px;
  background-color: #FC9478;
  justify-content: center;
  border: none;
  margin: 0 auto;
}
.don__card-text {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  bottom: 50px;
  position: relative;
}

/*ANIMATION DON
***************************************************/
.anim {
  position: relative;
  top: -90px;
}

svg .anim.oiseau {
  top: 50px;
  display: block;
  fill: transparent;
  stroke: var(--green);
  stroke-width: 2px;
  position: absolute;
  width: 40px;
  height: 40px;
}

.oiseau-trace {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  position: absolute;
}

.dollar {
  position: absolute;
  text-align: center;
  width: 50px;
  left: 200px;
  top: 70px;
  height: 40px;
}

/*.oiseau {
    position: absolute;
    text-align: center;
    width: 40px;
    height: 40px;
}*/
/*PARTENAIRES
*******************************************************/
.part {
  background-color: #223843;
}

.partenaires {
  text-align: center;
}
.partenaires img {
  padding: 5px;
  max-width: 19vw;
  object-fit: contain;
  box-sizing: border-box;
}

/*HUB DE SERVICE  JOLYANNE********************************
**********************************************************/
.hub-services__hero {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  color: #223843;
  position: relative;
  padding: 2%;
  background-color: #F4E6EF;
  padding-bottom: 5%;
}
.hub-services__titre {
  text-align: center;
  font-family: sunday;
  font-size: 60px;
  padding: 10px;
  line-height: 2;
}
.hub-services__titre .col-12 {
  font-size: 40px;
  line-height: 2;
}
.hub-services__texte {
  font-family: dosis;
  padding: 3%;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
}

.container-xl {
  max-width: 20000px;
}

.service {
  padding: 10px;
}
.service__container {
  margin-bottom: 5%;
}
.service__accueil {
  background-image: url(/media/icone/accueil_main_transparence.png);
  object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  height: 100% !important;
  background-repeat: no-repeat;
  background-color: #223843;
}
.service__francisation {
  background-image: url(/media/icone/francisation_transparent.png);
  object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.service__famille {
  background-image: url(/media/icone/soutien_famille_transparent.png);
  object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.service__scolaire {
  background-image: url(/media/icone/soutien_scolaire_transparent.png);
  object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.service__emplois {
  background-image: url(/media/icone/cv_transparent.png);
  object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}
.service__alimentaire {
  background-image: url(/media/icone/aliment_transparent.png);
  object-fit: contain;
  background-position: center;
  background-size: contain;
  padding: 20px;
  background-repeat: no-repeat;
  background-color: #223843;
}

.swiper-slide {
  width: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

/*.card-body {
    height: 200px;
  }*/
/*@media (min-width: 1400px) {
  .service__container,
  .service__container-lg,
  .container-md,
  .container-sm,
  .service__container-xl,
  .service__container-xxl {
    max-width: 20000px;
  }
}
.swipper {
  margin: 20px;
}

.service .card {
  height: 300px;
  width: 420px;
}

.card-title {
  color: colors.$orangeFonce;
  font-family: dm-sans;
  font-size: 25px;
}
.card-text {
  font-family: dm-sans;
}

.row__hero {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
}

.row__service {
  width: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
  margin-bottom: 5%;
}
/*Service 
************************************************/
/*DÉTAIL DE SERVICES JOLYANNE**************************
******************************************************/
.detail {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  color: #223843;
  position: relative;
  padding: 2%;
  background-color: #F4E6EF;
  line-height: 2 !important;
}
.detail__hero {
  padding-bottom: 5%;
}
.detail__titre {
  line-height: 2;
  text-align: center;
  font-family: sunday;
  font-size: 55px;
  padding: 10px;
}
.detail__texte {
  font-family: dosis;
  padding: 3%;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
}

@media (max-width: 987px) {
  .card-text {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .card-text {
    font-size: 20px;
    object-fit: cover;
  }
}
@media (max-width: 377px) {
  .detail-services__titre {
    text-align: center;
    font-family: sunday;
    font-size: 30px;
    padding: 10px;
    line-height: 3;
  }
  .detail-services__texte {
    font-family: dosis;
    padding: 3%;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
  }
}
.rendez-vous {
  display: flex;
  justify-content: center;
}
.rendez-vous__container {
  justify-content: center;
  margin: 2%;
}
.rendez-vous__row {
  align-items: flex-end;
}
.rendez-vous__bouton {
  height: 40px;
  background-color: #FC9478;
  border: none;
  border-radius: 10px;
  align-items: end;
}
.rendez-vous__body {
  padding: 30px;
}

/* À PROPOS LAURIE *****************************************
***************************************************************/
* {
  box-sizing: border-box;
}

/*PARTENAIRES
*******************************************************/
.part {
  background-color: #223843;
}

.partenaires {
  text-align: center;
}
.partenaires img {
  padding: 5px;
  max-width: 19vw;
  object-fit: contain;
  box-sizing: border-box;
}

body {
  /* couleur de fond*/
  background-color: #FFCFB4;
}

.enveloppe {
  background-color: white;
  width: 75vw;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
}

/*extend de style des paragraphe*/
.Vision, .mission {
  font-family: dosis;
  font-style: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.hero-a-propos {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  color: #223843;
  position: relative;
  padding: 2%;
  background-color: #F4E6EF;
}
.hero-a-propos .titre-a-propos {
  text-align: center;
  font-family: sunday;
  font-size: 50px;
  padding: 10px;
}
.hero-a-propos .texte-hero-a-propos {
  font-size: 20px;
  font-family: dosis;
  padding: 3%;
  font-weight: 300px;
}

.section-a-propos {
  color: #223843;
}

.paragraphe-a-propos {
  font-family: sunday;
  width: 100%;
  text-align: center;
  padding-top: 5%;
  line-height: 1.8 !important;
}

.tout-sous-meme-toi {
  font-size: 20px;
  font-family: dosis;
  margin-top: 2%;
  margin: 10px;
}
.tout-sous-meme-toi.liste-a-puce {
  font-size: 22px;
  padding: 20px;
  margin-bottom: 0px;
  margin-top: 15px;
}

ul {
  /* je créer de l'espace entre l'enveloppe et les points de la liste a`puce*/
  margin-left: 2%;
}

.mission.text {
  font-size: 20px;
}

.valeurs {
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  font-family: dosis;
  font-weight: 700;
}

.excellence {
  margin-bottom: 2%;
  width: 100%;
  margin-top: 2%;
  color: #223843;
  font-family: dosis;
}
.excellence__text {
  font-family: dm-sans;
}

.respect {
  margin-top: 2%;
  margin-bottom: 2%;
}
.respect__text {
  font-family: dm-sans;
}

.engagement {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: dm-sans;
}
.engagement__text {
  font-family: dm-sans;
}

.inclusion {
  margin-top: 2%;
  font-family: dm-sans;
}
.inclusion__text {
  font-family: dm-sans;
}

.innovation {
  margin-top: 2%;
  font-family: dm-sans;
}
.innovation__text {
  font-family: dm-sans;
}

.servicesLangues {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: dosis;
  font-weight: 700;
  text-align: center;
  position: relative;
}
.servicesLangues__texte {
  position: relative;
}
.servicesLangues__facebook {
  margin-bottom: 5%;
}

iframe {
  aspect-ratio: 16/9;
  margin-top: 3%;
}

@media (max-width: 375px) {
  body {
    background-color: white !important;
  }
  .hero-a-propos {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    color: #223843;
    position: relative;
    padding: 2%;
    background-color: #F4E6EF;
  }
  .hero-a-propos .titre-a-propos {
    text-align: center;
    font-family: sunday;
    font-size: 20px;
    padding: 10px;
  }
  .hero-a-propos p.texte-hero-a-propos.col-12 {
    font-size: 10px;
    font-family: dosis;
    padding: 3%;
  }
  .hero-a-propos p.col-sm-8 col-xl-12 {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */