@charset "UTF-8";
@font-face {
  font-family: sunday;
  src: url("/fonts/Sunday Best ttf.ttf");
}
@font-face {
  font-family: dosis;
  src: url("/fonts/Dosis-VariableFont_wght.ttf");
}
@font-face {
  font-family: dm-sans;
  src: url("/fonts/Dosis-VariableFont_wght.ttf");
}
.banniere {
  position: relative;
  width: 100vw;
  background-color: #FC9478;
}
.banniere__lienPromis {
  font-family: dosis;
  text-align: center;
}

a {
  color: #223843;
  font-family: "dosis";
}

p {
  padding-bottom: none;
}

* {
  box-sizing: border-box;
}

body {
  /* couleur de fond*/
  background-color: #FFCFB4;
}

.enveloppe {
  background-color: white;
  width: 75vw;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
}

/* extend de style des paragraphe*/
.vision, .mission {
  font-family: dosis;
  font-style: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}

.hero-a-propos {
  width: 100vw;
  margin: 0 auto;
  height: 30vh;
  position: relative;
  padding: 2%;
  background-color: #F4E6EF;
}
.hero-a-propos .titre-a-propos {
  text-align: center;
  font-family: sunday;
  font-size: 50px;
  padding: 10px;
}
.hero-a-propos .texte-hero-a-propos {
  font-size: 20px;
  font-family: dosis;
  padding: 10px;
  font-weight: 300;
}

.paragraphe-a-propos {
  font-family: sunday;
  width: 100%;
  text-align: center;
  padding-top: 5%;
}

.tout-sous-meme-toi {
  font-size: 20px;
  font-family: dosis;
  padding-top: 2%;
  padding-bottom: 10px;
}
.tout-sous-meme-toi.liste-a-puce {
  font-size: 22px;
}

ul {
  /* je créer de l'espace entre l'enveloppe et les points de la liste a`puce*/
  margin-left: 2%;
}

.mission.text {
  font-size: 20px;
}

.valeurs {
  padding-top: 6%;
  padding-bottom: 5%;
  text-align: center;
  font-family: dosis;
  font-weight: 700;
}

.excellence {
  padding-top: 2%;
  color: #223843;
  font-family: dosis;
}
.excellence__text {
  font-family: dm-sans;
}

.respect {
  padding-top: 2%;
  font-family: dosis;
}
.respect__text {
  font-family: dm-sans;
}

.engagement {
  padding-top: 2%;
  font-family: dm-sans;
}
.engagement__text {
  font-family: dm-sans;
}

.inclusion {
  padding-bottom: 2%;
  font-family: dm-sans;
}
.inclusion__text {
  font-family: dm-sans;
}

.innovation {
  padding-top: 2%;
  font-family: dm-sans;
}
.innovation__text {
  font-family: dm-sans;
}

.servicesLangues {
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
  font-family: dosis;
  font-weight: 700;
}

.barreNav {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #223843;
}

.container {
  display: flex;
  width: 100%;
}

.navbar {
  display: flex;
}
.navbar-nav {
  display: flex;
}
.navbar-nav .nav-link {
  justify-content: space-between;
  color: #ffffff;
}
.navbar-nav .nav-item {
  display: flex;
}

* {
  box-sizing: border-box;
}

.btn-6, .btn-5, .btn-4, .btn-3, .btn-2, .btn-1, .btn-0 {
  background-color: #223843;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 3px;
}

.hero {
  padding: 30px;
  background-color: #F4E6EF;
}
.hero__titre {
  font-family: sunday;
  text-align: center;
  line-height: 1.7;
}
.hero__question {
  font-family: dosis;
  font-weight: 700;
  text-align: center;
}
.hero__option {
  font-family: dosis;
  text-align: center;
}

.btn-0 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.btn-1 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.btn-2 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.btn-3 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.btn-4 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.btn-5 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.btn-6 {
  margin: 10px;
  font-family: dm-sans;
  height: 91.2px;
}

.card-0 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  color: white;
}

.card-1 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  color: white;
}

.card-2 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  color: white;
}

.card-3 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  color: white;
}

.card-4 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  color: white;
}

.card-5 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  color: white;
}

.card-6 {
  background-color: #223843;
  padding: 10px;
  margin: 20%;
  color: white;
}

.swiper-slide {
  width: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

.card-body {
  height: 200px;
}

.swipper {
  margin: 20px;
}

.card__accueil {
  background-image: url(/media/icone/accueil_main_transparence.png);
}

footer {
  background-color: #FC9478;
  font-family: "dosis";
}/*# sourceMappingURL=style.css.map */